<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techno.launcher">


    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- The Agora SDK requires Bluetooth permissions in case users are using Bluetooth devices.-->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="com.techno.launcher.LauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity
            android:name="com.techno.launcher.screens.MosqueListActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysVisible">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.techno.launcher.screens.AppListActivity"
            android:screenOrientation="landscape" />


        <activity
            android:name="com.techno.launcher.screens.AzanStreamingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.techno.launcher.screens.SettingsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.techno.launcher.screens.SettingsLeftSideActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.techno.launcher.screens.WebViewActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.techno.launcher.screens.HomeActivity"
            android:screenOrientation="landscape" />

        <service
            android:name=".service.Azan"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".listener.ConnectivityReceiverInternet"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/launcher_icon" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9813697071406151~2491963016" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="V6T2u0a5FJJQ22B9IVR0hnCSqITae-DW-gVv_HWPz6K_I2xoT_SHTwZelf-yZtleMhXoEzUCV-AByE_9wBtdg2" />


        <service android:name=".service.BackgroundService"></service>

    </application>

</manifest>